@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
/* Global Styles */
h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  text-align: center;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 2em;
   background-image: url('https://lh3.googleusercontent.com/proxy/FYbJhcNzaYw9O5TTzw_Y17VmTolH0rsmkAKfMEaBHtPj0s3ZPYJryBBfadyeEG3KKCJNKU5mnQ9vVDWh4gF08AzEaD25YrQfiVhsh6Sf3Socnl0NU3xKG8LHoVcXCoDaPlMsJJKSTo8KIbN7rV0=s0-d');
}
body, input[text]{
  color: white;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
#sub{
  color: black;
}
button:hover {
  background-color: black;
  text-align: center;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
  text-align: center;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px 5px 5px 5px;
}
