<div class = "container">
   <h1>Survey Form</h1>
   <form ngNativeValidate (submit)='onPost()'>

    <div class = "form-group">
         <label for = "firstname">First name</label>
         <input type = "text" class = "form-control" id = "first_name"
            [(ngModel)] = "model.first_name" name = "first_name"
            required placeholder="FirstName">
      </div>

      <div class = "form-group">
         <label for = "lastname">Last name</label>
         <input type = "text" class = "form-control" id = "last_name"
            [(ngModel)] = "model.last_name" name = "last_name"
            required
            placeholder="LastName">
      </div>

      <div class = "form-group">
         <label for = "a">Address</label>
         <input type = "text" class = "form-control" id = "street_address"
            [(ngModel)] = "model.street_address" name = "street_address"
            required
            placeholder="Address">
      </div>

      <div class = "form-group">
         <label for = "name">City</label>
         <input type = "text" class = "form-control" id = "city"
            [(ngModel)] = "model.city" name = "city"
            required
            placeholder="City">
      </div>
      <div class = "form-group">
        <label for = "name">State</label>
        <input type = "text" class = "form-control" id = "state"
           [(ngModel)] = "model.state" name = "state"
           required
           placeholder="State">
     </div>
     <div class = "form-group">
        <label for = "name">Zip Code</label>
        <input type = "text" class = "form-control" id = "zip"
           [(ngModel)] = "model.zip" name = "zip"
           required
           placeholder="ZIP">
     </div>
     <div class = "form-group">
        <label for = "name">E-mail</label>
        <input type = "text" class = "form-control" id = "email"
           [(ngModel)] = "model.email" name = "email"
           required
           placeholder="Email">
     </div>
     <div class = "form-group">
        <label for = "name">Telephone Number</label>
        <input type = "text" class = "form-control" id = "telephone_number"
           [(ngModel)] = "model.telephone_number" name = "telephone_number"
           required
           placeholder="Phone">
     </div>
     <div class = "form-group">
        <label for = "name">Date of Survey</label>
        <input type = "date" class = "form-control" id = "date_of_survey"
           [(ngModel)] = "model.date_of_survey" name = "date_of_survey"
           required
           >
     </div>
     <div class = "form-group">
       <form [formGroup]="myForm">
        <label for = "name">What do you like the most about Campus?</label>
        <div *ngFor="let data of emails">
             <input type="checkbox" (change)="onChange(data.email, $event.target.checked)"> {{data.email}}<br>
        </div>
      </form>

     </div>


     <div class = "form-group">
        <label for = "recommend">Any recommendation to other prospective students?</label>
           <select class="form-control" id="recommend"

                   required

                   [(ngModel)]="model.recommend" name="recommend"

                   #studentOptions="ngModel">

             <option *ngFor="let pow of options" [value]="pow">{{pow}}</option>

           </select>
     </div>


     <div class = "form-group">
            <label>Why did you became interested in this campus?</label>
            <div class="form-check">
               <input class="form-check-input" [(ngModel)] = "model.favLocation" type="radio" name="favLocation" value="friends">
               <label class="form-check-label">Friends</label>
            </div>
            <div class="form-check">
                  <input class="form-check-input" [(ngModel)] = "model.favLocation" type="radio" name="favLocation" value="television">
                  <label class="form-check-label">Television</label>
            </div>
            <div class="form-check">
                  <input class="form-check-input" [(ngModel)] = "model.favLocation" type="radio" name="favLocation" value="internet">
                  <label class="form-check-label">Internet</label>
            </div>
            <div class="form-check">
                  <input class="form-check-input" [(ngModel)] = "model.favLocation" type="radio" name="favLocation" value="other">
                  <label class="form-check-label">Other</label>
            </div>
      </div>

      <div id="sub" style="text-align: center;">
         <input type="submit">

        <input type="reset">

      </div>

   </form>


</div>
